In [2]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta
import requests
import sqlite3

In [14]:
# Function to collect historical stock data
def get_stock_data(tickers, start_date, end_date):
    """
    Fetch historical stock data for multiple tickers from Yahoo Finance.

    Args:
        tickers (list): List of stock ticker symbols (e.g., ['AAPL', 'MSFT']).
        start_date (str): Start date in 'YYYY-MM-DD' format.
        end_date (str): End date in 'YYYY-MM-DD' format.

    Returns:
        pd.DataFrame: Stock price data for all tickers.
    """
    stock_data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker')
    all_data = []
    for ticker in tickers:
        if ticker in stock_data.columns.levels[0]:
            df = stock_data[ticker].copy()
            df.reset_index(inplace=True)
            df['Ticker'] = ticker
            df['Date'] = pd.to_datetime(df['Date']).dt.date  # Convert to date format
            all_data.append(df)
    return pd.concat(all_data, ignore_index=True)

In [10]:
# Save data to SQLite database
def save_to_database(stock_data):
    """
    Save stock data and news data to SQLite database.

    Args:
        stock_data (pd.DataFrame): Stock price data.
        news_data (pd.DataFrame): News headlines data.
    """
    conn = sqlite3.connect('financial_data.db')

    # Save stock data
    stock_data.to_sql('stock_data', conn, if_exists='replace', index=False)
    conn.close()
    print("Data saved to SQLite database 'financial_data.db'.")

In [11]:
# Query and display data from SQLite database
def display_database_data():
    """
    Query and display data from the SQLite database.
    """
    conn = sqlite3.connect('financial_data.db')
    cursor = conn.cursor()

    # Query stock data
    print("Stock Data:")
    stock_query = "SELECT * FROM stock_data;"  # Adjust the LIMIT as needed
    stock_data = pd.read_sql_query(stock_query, conn)
    print(stock_data)

    
    conn.close()

In [19]:
# Query and load data from SQLite database
def load_data_from_database():
    """
    Load data from SQLite database into variables for ML operations.

    Returns:
        pd.DataFrame, pd.DataFrame: Stock data and news data.
    """
    conn = sqlite3.connect('financial_data.db')

    # Load stock data
    stock_data = pd.read_sql_query("SELECT * FROM stock_data;", conn)

    # Load news data
    #news_data = pd.read_sql_query("SELECT * FROM news_data;", conn)

    conn.close()
    print("Data loaded from SQLite database into variables.")
    return stock_data

In [20]:
 #Main workflow
if __name__ == "__main__":
    tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']  # Add more tickers as needed
    start_date = '2023-01-01'
    end_date = '2024-12-01'

    # Fetch stock data for multiple tickers
    stock_data = get_stock_data(tickers, start_date, end_date)

    
    # Save data to SQLite database
    save_to_database(stock_data)

    # Display data from the database
    display_database_data()
    # Load data into variables for ML operations
    stock_data= load_data_from_database()

[*********************100%***********************]  5 of 5 completed

Data saved to SQLite database 'financial_data.db'.
Stock Data:
            Date        Open        High         Low       Close     Volume  \
0     2023-01-03  128.924252  129.537796  122.877835  123.768471  112117500
1     2023-01-04  125.569520  127.321104  123.778358  125.045036   89113600
2     2023-01-05  125.807014  126.440353  123.461682  123.718971   80962700
3     2023-01-06  124.698677  128.934129  123.590330  128.271103   87754700
4     2023-01-09  129.112255  132.021662  128.538289  128.795578   70790800
...          ...         ...         ...         ...         ...        ...
2400  2024-11-22  341.089996  361.529999  337.700012  352.559998   89140700
2401  2024-11-25  360.140015  361.929993  338.200012  338.589996   95890900
2402  2024-11-26  341.000000  346.959991  335.660004  338.230011   62295900
2403  2024-11-27  341.799988  342.549988  326.589996  332.890015   57896400
2404  2024-11-29  336.079987  345.450012  334.649994  345.160004   37167600

     Ticker
0      AAPL
1      AAPL
2      AAPL
3      AAPL
4      AAPL
...     ...
2400   TSLA
2401   TSLA
2402   TSLA
2403   TSLA
2404   TSLA

[2405 rows x 7 columns]
Data loaded from SQLite database into variables.

In [21]:
stock_data

,Date,Open,High,Low,Close,Volume,Ticker
0,2023-01-03,128.924252,129.537796,122.877835,123.768471,112117500,AAPL
1,2023-01-04,125.569520,127.321104,123.778358,125.045036,89113600,AAPL
2,2023-01-05,125.807014,126.440353,123.461682,123.718971,80962700,AAPL
3,2023-01-06,124.698677,128.934129,123.590330,128.271103,87754700,AAPL
4,2023-01-09,129.112255,132.021662,128.538289,128.795578,70790800,AAPL
...,...,...,...,...,...,...,...
2400,2024-11-22,341.089996,361.529999,337.700012,352.559998,89140700,TSLA
2401,2024-11-25,360.140015,361.929993,338.200012,338.589996,95890900,TSLA
2402,2024-11-26,341.000000,346.959991,335.660004,338.230011,62295900,TSLA
2403,2024-11-27,341.799988,342.549988,326.589996,332.890015,57896400,TSLA
2404,2024-11-29,336.079987,345.450012,334.649994,345.160004,37167600,TSLA